body {
     text-align: center;
     margin: 0;
     padding: 0;
     height: auto;
     overflow-y: scroll;
     /*background: #f9f9f9 url(/ui/holder.gif) top center repeat-y; */
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:1200px;
    width:200px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    /*padding:10px;*/
    border:1px solid #bbb3ff;
    padding:  20px 20px 20px 20px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}